<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
	  The following entry was approved:
    </p>
    <p> <b> <%= @entry.title %> </b> </p>
    <p> <i> <%= @entry.description %> </i> </p>
    <br /> <br />
    <p> Attached to the entry were <%= @entry.attachments.count %> pictures. </p>
  </body>
</html>
