Good morning!

This is a report of all entries that are pending approval:

<% if @entries.count > 0 then %>
    <% @entries.all.each { |entry| %>
    [<%= entry.project.title rescue 'None' %>]: <%= entry.title %>
    <% } %>
<% elsif %>
    No pending entries
<% end %>
