<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
	  Good morning!
    </p>
    <p>
	  These are all the entries that you have submitted that are still pending approval:
    </p>
	<% if @entries.count > 0 then %>
		<ul>
		<% @entries.all.each { |entry| %>
		<li> <b><%= entry.project.title rescue 'None' %></b>: <%= entry.title %> </li>
		<% } %>
		</ul>
	<% elsif %>
		<p> <i>
		No pending entries
		</i> </p>
	<% end %>
  </body>
</html>
