<%= @user.name %> has shared a report for <%= @snapshot.project.title %> with you. Click the link below to view it:

<%= report_url(@snapshot.public_id) %>

This report was brought to you by Impactive.
http://impactivecg.com
