<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
	  Good morning!
    </p>
    <p>
	  This is a report of all entries that are pending approval for the following project: 
      <br />
      <br />
	  <b> <%= @project.title %> </b> <br />
	  <i> <%= @project.description %> </i>
      <br />
    </p>
	<% if @entries.count > 0 then %>
		<ul>
		<% @entries.all.each { |entry| %>
		<li> <b><%= entry.user.name %></b>: <%= entry.title %> </li>
		<% } %>
		</ul>
	<% elsif %>
		<p> <i>
		No pending entries
		</i> </p>
	<% end %>
  </body>
</html>
