Good morning!

This is a report of all entries that are pending approval for the following project:

<%= @project.title %> -- <%= @project.description %>

<% if @entries.count > 0 then %>
    <% @entries.all.each { |entry| %>
    [<%= entry.user.name %>]: <%= entry.title %>
    <% } %>
<% elsif %>
    No pending entries
<% end %>
