.row
    .col-md-12
        .entry-metadata-container.mx-auto
            = render partial: "shared/entry_metadata", locals: { entry: @entry }

.row.my-2
    .col-md-12
        .text-center
            | Part of&nbsp;
            = link_to @entry.project.title, @entry.project

.row.my-2
    .col-md-12
        h2.text-center
            = @entry.title

.row.my-2
    .col-md-12
        .text-center
            - if @featured_image_attachment.nil? or @featured_image_attachment.download_url.nil?
                = image_tag "http://via.placeholder.com/500x250", class: "entry-featured-image-class"
            - else
                = image_tag @featured_image_attachment.download_url, class: "entry-featured-image-class"

.row.my-2
    .col-md-12
        hr

.row.my-2
    .col-md-8
        .row.my-2
            .col-md-12
                = @entry.description

        - if !@other_image_attachments.nil? and @other_image_attachments.count > 0
            - @other_image_attachments.each do |image|
                - unless image.nil? or image.download_url.nil?
                    .row.my-2
                        .col-md-12.text-center
                            = image_tag image.download_url, class: "entry-image-class"

    .col-md-4
        - if @goals.count > 0
            .indicators.my-5
                h5 Affected Indicators
                - @goals.each do |g|
                    = render partial: "shared/goal_progress", locals: { goal: g, current_indicator: nil, point_in_time: Time.now, base_path_sym: nil, base_path_id: nil }
