.promo
    h1.font-weight-bold Collaborate and show impact in real-time
    h5 Impactive helps teams share their most meaningful stories, enhances impact measurement, and enables real-time visibility into projects
.card.sign-in-form.floating-shadow.rounded-0
    .card-body
        h5.card-title.font-weight-bold
            = t('.sign_in', default: 'Set your password')
        .card-text
            = form_for(@user, url: user_password_path, html: { role: 'form', method: :put }) do |f|
              = devise_error_messages!
              = f.hidden_field :reset_password_token
              .form-group
                = f.label :password, value: "New password"
                = f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control'
              .form-group
                = f.label :password_confirmation, value: "Confirm new password"
                = f.password_field :password, autocomplete: 'off', class: 'form-control'
              .form-group.text-right
                = f.submit  t('.sign_in', default: 'Set my password'), class: 'btn btn-primary'
