.promo
    h1.font-weight-bold Collaborate and show impact in real-time
    h5 Impactive helps teams share their most meaningful stories, enhances impact measurement, and enables real-time visibility into projects
.card.sign-in-form.floating-shadow.rounded-0
    .card-body
        h5.card-title.font-weight-bold
            = t('.sign_in', default: 'Forgot your password?')
        .card-text
            = form_for(@user, url: user_password_path, html: { role: 'form', method: :post }) do |f|
              = devise_error_messages!

              .form-group
                = f.label :email, value: "Email address"
                = f.email_field :email, autofocus: true, class: 'form-control'
              .form-group.text-right
                = f.submit  t('.sign_in', default: 'Send me instructions'), class: 'btn btn-primary'
