.indicator.indicator-count
    .font-weight-bold.indicator-title
        = indicator.title
    .text-muted
        = indicator.description
    .indicator-progressbar.my-3
        .progress
            .progress-bar { aria-valuemin="#{indicator.baseline}"
                            aria-valuemax="#{indicator.target}"
                            aria-valuenow="#{indicator.current_value(point_in_time)}"
                            role="progressbar"
                            style="width: #{indicator.target_percent_achieved(point_in_time) * 100}%;"
                          }
        - if indicator.current_value(point_in_time) > indicator.baseline
            span.some-progress-text
                = "#{indicator.current_value(point_in_time)} out of #{indicator.target}"
            span.text-muted
                =" (starting point #{indicator.baseline})"
        - else
            span.no-progress-text.text-muted
                = "#{indicator.current_value(point_in_time)} out of #{indicator.target}"
