= fields_for "#{scope}", effect do |effect_fields|
    tr
        td.effect-input
            - if effect.indicator.is_count?
                = effect_fields.number_field(:cumulative_value_one, { class: 'form-control' } )

            - elsif effect.indicator.is_percent?
                .form-row
                    .col
                        = effect_fields.number_field(:cumulative_value_one, { class: 'form-control', width: '50%' } )
                    .col
                        = effect_fields.number_field(:cumulative_value_two, { class: 'form-control', width: '50%' } )

            - elsif effect.indicator.is_traffic_light?
                = effect_fields.collection_select(:cumulative_value_one, Indicator.traffic_light_definitions, :last, :first)

            - else
                | Unknown indicator

        td.effect-indicator-title
            = effect_fields.hidden_field 'indicator_id', { value: effect.indicator.id }
            = effect.indicator.title

        td.effect-deactivate
            .onoffswitch
                = effect_fields.check_box(:is_active?, { id: "entry#{effect.entry.id}-#{scope}-switch", class: "onoffswitch-checkbox" } )
                label{ class="onoffswitch-label" for="entry#{effect.entry.id}-#{scope}-switch" }
