.entry-metadata.clearfix
    .avatar
        = render partial: "shared/user_avatar", locals: { user: entry.user }
    .other-metadata
        .author-name
            = entry.user.name
        .relative-date.text-muted
            = "#{time_ago_in_words(entry.created_on_auto)} ago"
