.goal.py-3
    .goal-metadata
        h4
            = goal.title
        .text-muted
            = goal.description
    - if goal.indicators.count > 0
        - goal.indicators.each do |i|
            = render partial: "shared/indicator_progress", locals: { indicator: i, current_indicator: current_indicator, point_in_time: point_in_time, base_path_sym: base_path_sym, base_path_id: base_path_id }
