- if !current_indicator.nil? and current_indicator.id.eql?(indicator.id)
    .active.arrow_box
        - if indicator.is_count?
            = render partial: "shared/count_indicator_progress", locals: { indicator: indicator, point_in_time: point_in_time }
        - elsif indicator.is_percent?
            = render partial: "shared/percent_indicator_progress", locals: { indicator: indicator, point_in_time: point_in_time }
        - elsif indicator.is_traffic_light?
            = render partial: "shared/traffic_light_indicator_progress", locals: { indicator: indicator, point_in_time: point_in_time }
        - else
            .font-italic
                | Unkown Indicator (#{indicator.title})
- elsif !base_path_sym.nil? and !base_path_id.nil?
    = link_to send(base_path_sym, { id: base_path_id, indicator_id: indicator.id })
        - if indicator.is_count?
            = render partial: "shared/count_indicator_progress", locals: { indicator: indicator, point_in_time: point_in_time }
        - elsif indicator.is_percent?
            = render partial: "shared/percent_indicator_progress", locals: { indicator: indicator, point_in_time: point_in_time }
        - elsif indicator.is_traffic_light?
            = render partial: "shared/traffic_light_indicator_progress", locals: { indicator: indicator, point_in_time: point_in_time }
        - else
            .font-italic
                | Unkown Indicator (#{indicator.title})
- else
    .plain-indicator
        - if indicator.is_count?
            = render partial: "shared/count_indicator_progress", locals: { indicator: indicator, point_in_time: point_in_time }
        - elsif indicator.is_percent?
            = render partial: "shared/percent_indicator_progress", locals: { indicator: indicator, point_in_time: point_in_time }
        - elsif indicator.is_traffic_light?
            = render partial: "shared/traffic_light_indicator_progress", locals: { indicator: indicator, point_in_time: point_in_time }
        - else
            .font-italic
                | Unkown Indicator (#{indicator.title})
