.collapse.show{ id = "entry#{entry.id}-card" }
    .card.my-4
        - if entry.attachments.count == 0
            img class='card-img-top' src='http://via.placeholder.com/500x250'
        - else
            .carousel.slide{ data-ride="carousel" id="entry-#{entry.id}-carousel" }
                - if entry.attachments.count > 1
                    ol.carousel-indicators
                        - entry.attachments.each_with_index do |a, i|
                            - if i.eql?(0)
                                li{ data-target="#entry-#{entry.id}-carousel" data-slide="#{i}" class="active" }
                            - else
                                li{ data-target="#entry-#{entry.id}-carousel" data-slide="#{i}" }
                .carousel-inner.entry-image-carousel
                    - entry.attachments.each_with_index do |a, i|
                        - if !a.download_url.nil?
                            - if i.eql?(0)
                                .carousel-item.active
                                    = image_tag a.download_url, class: "entry-image"
                            - else
                                .carousel-item
                                    = image_tag a.download_url, class: "entry-image"
                        - else
                            - if i.eql?(0)
                                .carousel-item.active
                                    img src='http://via.placeholder.com/500x250' class="d-block w-100"
                            - else
                                .carousel-item
                                    img src='http://via.placeholder.com/500x250' class="d-block w-100"
                - if entry.attachments.count > 1
                    a.carousel-control-prev{ href="#entry-#{entry.id}-carousel" role="button" data-slide="prev" }
                        span{ class="carousel-control-prev-icon" }
                    a.carousel-control-next{ href="#entry-#{entry.id}-carousel" role="button" data-slide="next" }
                        span{ class="carousel-control-next-icon" }



        .card-body
            = render partial: "shared/entry_metadata", locals: { entry: entry }

            h4.card-title.font-weight-bold.my-3
                - if entry.title.blank?
                    .font-italic
                        | (no title)
                - else
                    = entry.title

            .card-subtitle.mt-2
                - if entry.description.blank?
                    .font-italic
                        | (no description)
                - else
                    = entry.description


        .card-body.effects.mt-2
            = form_for entry, { html: { class: "entry#{entry.id}-form" }, remote: true } do |entry_fields|
                - effects = entry.effects.select { |ef| ef.status.eql?('active') }
                - if effects.count > 0
                    .entry-effects-title
                        | Does this change the value of the affected indicators?

                    table.indicators
                        - effects.each do |ef|
                            = entry_fields.fields_for :effects, ef, index: ef.id do |effect_fields|
                                tr
                                    td.effect-input
                                        - if ef.indicator.is_count?
                                            = effect_fields.number_field(:cumulative_value_one, { class: 'form-control' } )

                                        - elsif ef.indicator.is_percent?
                                            .form-row
                                                .col
                                                    = effect_fields.number_field(:cumulative_value_one, { class: 'form-control', width: '50%' } )
                                                .col
                                                    = effect_fields.number_field(:cumulative_value_two, { class: 'form-control', width: '50%' } )

                                        - elsif ef.indicator.is_traffic_light?
                                            = effect_fields.collection_select(:cumulative_value_one, Indicator.traffic_light_definitions, :last, :first)

                                        - else
                                            | Unknown indicator

                                    td.effect-indicator-title
                                        = effect_fields.hidden_field 'indicator_id', { value: ef.indicator.id }
                                        = ef.indicator.title

                                    td.effect-deactivate
                                        .onoffswitch
                                            = effect_fields.check_box(:is_active?, { id: "entry#{entry.id}-effect#{ef.id}-switch", class: "onoffswitch-checkbox" } )
                                            label{ class="onoffswitch-label" for="entry#{entry.id}-effect#{ef.id}-switch" }


                - else
                    | No indicators
                    br
                table.indicators.new-effects-holder{ id="entry#{entry.id}-new-effects" }
                = hidden_field_tag "entry[status]", "publish"
                = hidden_field_tag "entry[div_id]", "#entry#{entry.id}-card"
                .collapse{ id="entry#{entry.id}-deleteWarning" }
                    .alert.alert-danger.my-2
                        | Deleting a post is a permanent action and can not be undone. Are you sure?
                        .delete-buttons
                            button.btn.btn-danger.m-2.delete-post-button{ data-target=".entry#{entry.id}-form" type="button" }
                                | Yes, go ahead and delete
                            button.btn.btn-secondary.m-2{ data-toggle="collapse" data-target="#entry#{entry.id}-deleteWarning" type="button" }
                                | Keep for now
                .entry-actions.mt-3.clearfix
                    = select_tag "add-indicator",
                        options_for_select( ( entry.project.indicators - entry.effects.collect { |ef| ef.indicator if ef.is_active? } ).collect{ |i| [i.title, i.id] }),
                        {   class: "custom-select additional-indicator-select my-2",
                            prompt: "Add an indicator",
                            data: { entryid: "#{entry.id}", target: "#entry#{entry.id}-new-effects", neweffectvalue: -1 } }
                    = entry_fields.submit "Share!", { class: "btn btn-primary m-2" }
                    button.btn.btn-secondary.m-2{ data-toggle="collapse" data-target="#entry#{entry.id}-deleteWarning" type="button" }
                        | Delete post


