.card.my-4
    - if entry.attachments.count == 0
        img class='card-img-top' src='http://via.placeholder.com/500x250'
    - else
        .carousel.slide{ data-ride="carousel" id="entry-#{entry.id}-carousel" }
            - if entry.attachments.count > 1
                ol.carousel-indicators
                    - entry.attachments.each_with_index do |a, i|
                        - if i.eql?(0)
                            li{ data-target="#entry-#{entry.id}-carousel" data-slide="#{i}" class="active" }
                        - else
                            li{ data-target="#entry-#{entry.id}-carousel" data-slide="#{i}" }
            .carousel-inner.entry-image-carousel
                - entry.attachments.each_with_index do |a, i|
                    - if !a.download_url.nil?
                        - if i.eql?(0)
                            .carousel-item.active
                                = image_tag a.download_url, class: "entry-image"
                        - else
                            .carousel-item
                                = image_tag a.download_url, class: "entry-image"
                    - else
                        - if i.eql?(0)
                            .carousel-item.active
                                img src='http://via.placeholder.com/500x250' class="d-block w-100"
                        - else
                            .carousel-item
                                img src='http://via.placeholder.com/500x250' class="d-block w-100"
            - if entry.attachments.count > 1
                a.carousel-control-prev{ href="#entry-#{entry.id}-carousel" role="button" data-slide="prev" }
                    span{ class="carousel-control-prev-icon" }
                a.carousel-control-next{ href="#entry-#{entry.id}-carousel" role="button" data-slide="next" }
                    span{ class="carousel-control-next-icon" }



    .card-body
        = render partial: "shared/entry_metadata", locals: { entry: entry }

        h4.card-title.font-weight-bold.my-3
            - if entry.title.blank?
                .font-italic
                    | (no title)
            - else
                = entry.title

        .card-subtitle.my-2
            - if entry.description.blank?
                .font-italic
                    | (no description)
            - else
                = entry.description

        .card-more-link.mt-2
            = link_to "See more", report_entry_path(@snapshot.public_id, entry)
