div{ class="indicator indicator-traffic-light #{indicator.current_value(point_in_time).to_s}" }
    .font-weight-bold.indicator-title
        = indicator.title
    .text-muted
        = indicator.description
    .status.my-3
        - if indicator.current_value(point_in_time).eql?(:red)
            | Off track
        - elsif indicator.current_value(point_in_time).eql?(:yellow)
            | Needs work
        - elsif indicator.current_value(point_in_time).eql?(:green)
            | On track
        - else
            | Unknown

