- if user.avatar and !user.avatar.blank?
    = image_tag user.avatar.url, alt: user.name, title: user.name, class: "rounded-circle user-avatar"
- else
    span.user-avatar.empty-user-avatar{ title=user.name }
