- @projects.each_slice(3) do |r|
    .my-4.card-deck
        - r.each do |p|
            a class='card' href='#{project_path(p)}'
                - if p.hero and !p.hero.blank?
                    img class='card-img-top' src='#{p.hero.url}'
                - else
                    = image_tag 'default_project_hero.png', class: 'card-img-top'
                .card-body.m-3
                    h4.card-title.font-weight-bold
                        = p.title
                    .card-subtitle.mt-1
                        = truncate(p.description, length: 80)

        - (3-r.count).times do
            .card.border-0
