.row
    .col-md-7
        .row
            .col-md-12
                h2.title.my-3
                    = button_to "Share", snapshots_path, { class: 'btn share-button btn-warning', remote: true, params: { project_id: @project.id, modal_target: '#share-modal', url_target: '#share-report-url', form_target: '.snapshot-public-id-hidden-input' } }
                    = @project.title

                p.subtitle.my-3
                    = @project.description

                ul.nav.nav-tabs
                    - pending_link_class = published_link_class = "nav-link"
                    - pending_link_class   += ' active' if @viewing_pending
                    - published_link_class += ' active' unless @viewing_pending


                    li.nav-item
                    li{ class="#{ @viewing_pending ? 'nav-item' : 'nav-item active' }" }
                        - if @indicator.nil?
                            a{ class="#{published_link_class}" href="#{ filtered_project_path(status: 'shared') }" } Shared
                        - else
                            a{ class="#{published_link_class}" href="#{ filtered_project_path(status: 'shared', indicator_id: @indicator.id) }" } Shared

                    li.nav-item
                    li{ class="#{ @viewing_pending ? 'nav-item active' : 'nav-item' }" }
                        - if @indicator.nil?
                            a{ class="#{pending_link_class}" href="#{ filtered_project_path(status: 'pending')  }" } Pending
                        - else
                            a{ class="#{pending_link_class}" href="#{ filtered_project_path(status: 'pending', indicator_id: @indicator.id)  }" } Pending

                .tab-content
                    .tab-pane.active
                        - unless @indicator.nil?
                            .filtered-project-advisory.my-3
                                h6
                                    | Showing #{@entries.count} posts affecting
                                    span.filtered-indicator-title
                                       = " #{@indicator.title}"
                                .unfiltered-project-link
                                    = link_to "Show all activity instead", @project
                        - if @viewing_pending
                            #pending
                                - @entries.each do |entry|
                                    = render partial: "shared/pending_entry", locals: { entry: entry }

                                = paginate @entries

                        - else
                            #published
                                - @entries.each do |entry|
                                    = render partial: "shared/published_entry", locals: { entry: entry }

                                = paginate @entries


    .col-md-4
        .team.mb-5
            h5 Team
            - if @team.count > 0
                - @team.each do |u|
                    = render partial: "shared/user_avatar", locals: { user: u.user }

        - if @goals.count > 0
            .indicators.my-5
                h5 Indicators
                - @goals.each do |g|
                    = render partial: "shared/goal_progress", locals: { goal: g, current_indicator: @indicator, point_in_time: @point_in_time, base_path_sym: :filtered_project_path, base_path_id: @project.id }

.modal#share-modal
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4.modal-title
                    | Share project
                .close{ data-dismiss="modal" }
                    span
                        | &times;

            .modal-body

                .row.share-url-desc.mt-4
                    .col-md-12
                        | Copy this private url to share
                .row.share-url-block.mb-2
                    .col-md-8
                        .form-control#share-report-url
                            = link_to project_path, "Project"
                    .col-md-4
                        button.btn.btn-primary.btn-block.clipboard-btn{ data-clipboard-target="#share-report-url" }
                            | Copy

                .row.share-divider
                    .col-md-12
                        hr

                .row.share-email-desc.mt-2
                    .col-md-12
                        | Email the url to share
                = form_tag '/snapshots/share', { remote: true, class: 'row share-email-block mb-4' }
                    .col-md-8
                        = text_field_tag "email_addresses", nil, { placeholder: 'Enter email addresses separated by commas', class: 'form-control' }
                        = hidden_field_tag "public_id", nil, { class: 'snapshot-public-id-hidden-input' }
                    .col-md-4
                        = submit_tag "Email", class: 'btn btn-primary btn-block'

                .row.share-email-success-block.collapse#email-share-success-message
                    .col-md-12
                        .alert.alert-success.my-2
                            | Got it! We shared your report with&nbsp;
                            span#email-addresses-success-message
                                = current_user.email
