$('<%= j @url_target %>').html(" <%= j report_url(id: @snapshot.public_id, only_path: false) %> ");
$('<%= j @form_target %>').val("<%= @snapshot.public_id %>");
$('<%= j @modal_target %>').modal('show');
