- content_for :report_date, @point_in_time.to_date.to_formatted_s(:long)

.row
    .col-md-7
        .row
            .col-md-12
                h2.title.my-3
                    = @project.title

                p.subtitle.my-3
                    = @project.description

                    - unless @indicator.nil?
                        .filtered-project-advisory.my-3
                            h6
                                | Showing #{@entries.count} posts affecting
                                span.filtered-indicator-title
                                   = " #{@indicator.title}"
                            .unfiltered-project-link
                                = link_to "Show all activity instead", report_path(@snapshot.public_id)

                    #published
                        - @entries.each do |entry|
                            = render partial: "shared/public_published_entry", locals: { snapshot: @snapshot, entry: entry }

                        = paginate @entries


    .col-md-4
        .team.mb-5
            h5 Team
            - if @team.count > 0
                - @team.each do |u|
                    = render partial: "shared/user_avatar", locals: { user: u.user }

        - if @goals.count > 0
            .indicators.my-5
                h5 Indicators
                - @goals.each do |g|
                    = render partial: "shared/goal_progress", locals: { goal: g, current_indicator: @indicator, point_in_time: @point_in_time, base_path_sym: :report_path, base_path_id: @snapshot.public_id }

