.promo
    h1.font-weight-bold Collaborate and show impact in real-time
    h5 Impactive helps teams share their most meaningful stories, enhances impact measurement, and enables real-time visibility into projects
.card.sign-in-form.floating-shadow.rounded-0
    .card-body
        h5.card-title.font-weight-bold
            = t('.sign_in', default: 'Sign in to share your story')
        .card-text
            = form_for(@user, url: user_session_path, html: { role: 'form' }) do |f|
              .form-group
                = f.label :email, value: "Email address"
                = f.email_field :email, autofocus: true, class: 'form-control'
              .form-group
                = f.label :password
                = f.password_field :password, autocomplete: 'off', class: 'form-control'
              .form-group.text-right
                = link_to "Get password", new_user_password_path, class: 'btn btn-link'
                = f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary'
