<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <ul>
    <li>
      <%= check_box_tag('project_user[role_manager]', 1, field.role.is_project_manager? ) %> Project Manager
      <br />
      <%= check_box_tag('project_user[role_agent]',   1, field.role.is_field_agent?     ) %> Field Agent
    </li>
  </ul>
</div>
