<ul>
    <% if field.role.is_project_manager? %>
        <li> <b> Project Manager </b> &mdash; Can approve entries </li>
    <% end %>
    <% if field.role.is_field_agent? %>
        <li> <b> Field Agent </b> &mdash; Can submit entries </li>
    <% end %>
</ul>
