/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */


// Bootstrap overrides
$impactive-blue: #3bb4bc;
$theme-colors: ( "red": #dc3545, "yellow": #ffc107, "green": #28a745, "primary": $impactive-blue );
$btn-border-radius: 26px;

$font-family-sans-serif: 'Open Sans';


@import "bootstrap";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
    font-family: 'Raleway';
}

.floating-shadow {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 0px 20px 5px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 0px 20px 5px rgba(50, 50, 50, 0.25);
}

.navbar a {
    color: black;
    &:hover { color: black; }
}

@import "unauthenticated";
@import "projects";
@import "entries";
