.entry-metadata-container {
    width: 200px;
}

.entry-featured-image-class {
    width: auto;
    max-width: 100%;
    max-height: 800px;
}

.entry-image-class {
    width: auto;
    max-width: 100%;
    max-height: 600px;
}
