.share-button {
    float: right;
    color: #fff;

    &:hover, &:active {
        color: #fff;
    }
}

.share-url-block #share-report-url {
    vertical-align: middle;
}

a .card-title, a .card-subtitle {
	color: black;
}

.card-title {
	line-height: 1.2;
}

.card-subtitle {
	line-height: 1.5;
}

a:hover {
	text-decoration: none;
}

.card-img-top {
    max-height: 250px;
}

.entry-image {
    width: auto;
    max-height: 500px;
    max-width: 100%;
}

.entry-image-carousel {
    text-align: center;
    background-color: #343a40;
}

.user-avatar {
    width:  50px;
    height: 50px;
    margin: 0.5rem;
    display: inline-block;
    vertical-align: middle;

    &.empty-user-avatar {
        border-radius: 25px;
        background-color: $gray-400;
    }
}

.filtered-project-advisory {
    .filtered-indicator-title {
        font-weight: bold;
    }

    .unfiltered-project-link {
        font-size: 0.9rem;
    }
}


.team .user-avatar { border: 2px solid $impactive-blue;  }

.goal .goal-metadata {
    border-top:     1px solid $gray-300;
    border-bottom:  1px solid $gray-300;
    border-collapse: collapse;
    padding:        map-get($spacers, 3);
}

.indicator {
    border-top:     1px solid $gray-300;
    border-bottom:  1px solid $gray-300;
    border-collapse: collapse;
    padding:        map-get($spacers, 3);

    &:hover {
        background-color: rgba(233, 236, 239, 0.3);
        .indicator-title { text-decoration: underline; }
    }
}

.active .indicator:hover {
	background-color: #ffffff;
	.indicator-title { text-decoration: none; }
}

.arrow_box {
    position: relative;
    background: #ffffff;
    border: 2px solid $impactive-blue;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 15px;
    margin-top: -15px;
}
.arrow_box:before {
    border-color: rgba(59, 180, 188, 0);
    border-right-color: $impactive-blue;
    border-width: 18px;
    margin-top: -18px;
}

a .indicator-title { color: black }

.progress {
    height: 10px;
}

.some-progress-text {
    color: $impactive-blue;
    font-weight: bold;
}

.indicator-traffic-light.red .status {
    color:            theme-color-level("red", 6);
    color:            #f00c4f;
}

.indicator-traffic-light.yellow .status {
    color:            theme-color-level("yellow", 6);
    color:            #f76c46;
}

.indicator-traffic-light.green .status {
    color:            theme-color-level("green", 6);
    color:            #1bcc76;
}

.entry-metadata {
    font-size: 0.9rem;

    .avatar, .other-metadata {
        float: left;
        margin-right: 0.5rem;
    }

    .user-avatar { margin: 0; }
}

.effects {
    background-color: $gray-200;
}

.entry-effects-title {
    font-style: italic;
}

table.indicators {
    width: 100%;
    .effect-indicator-title {
        width: 60%;
    }

    td {
        padding-right: map-get($spacers, 3);
    }
}

.entry-actions {
    select {
        float: left;
    }

    button, input {
        float: right;
    }
}


// proto.io onoff switch
.onoffswitch {
	position: relative; width: 55px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	height: 20px; padding: 0; line-height: 20px;
	border: 2px solid #FFFFFF; border-radius: 20px;
	background-color: #9E9E9E;
	transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
	content: "";
	display: block; width: 20px; margin: 0px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 33px;
	border: 2px solid #FFFFFF; border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	//background-color: #42A5F5;
	background-color: $impactive-blue;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   //border-color: #42A5F5;
   border-color: $impactive-blue;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0px;
}
