.sessions, .passwords {
    body {
        background: image-url('unauthenticated_background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #3bb4bc;
    }

    .navbar a, .promo {
        color: white;

        .session-link {
            display: none;
        }
    }

    .promo {
        float: left;
        max-width: 55%;
        padding: 0.5rem;
        margin:  0.5rem;
        h1, h5 { line-height: 1.5; }
    }

    .sign-in-form {
        width: 400px;

        float: right;
        padding: 0.5rem;
        margin:  0.5rem;

        .form-group {
            margin-top: 2rem;
            label {
                font-size: 75%;
            }
        }
        .form-control {
            border-radius: 100px;
            background: #f8f8f8;
            border: 0px;
        }
    }
}
