doctype html
html class=(controller.controller_name)
  head
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    meta charset="utf-8"
    title Impactive Field Notebook

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,600', media: 'all'

  body
   .navbar.navbar-toggleable-md
     h4.font-weight-bold.navbar-brand
       = link_to "Impactive", root_path
     h4.navbar-brand.session-link
       - if user_signed_in?
         = link_to "Log out", destroy_user_session_path
       - else
         = link_to "Log in", new_user_session_path

   .container
     - if !notice.blank?
         p.alert.alert-info
           = notice
     - if !alert.blank?
         p.alert.alert-warning
           = alert

     = yield
