doctype html
html class=(controller.controller_name)
  head
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    meta charset="utf-8"
    title Impactive Field Notebook

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,600', media: 'all'

  body.pt-5
   .navbar.navbar-dark.bg-dark.fixed-top.navbar-toggleable-md
     .h6.navbar-text.text-white.font-weight-bold.mr-auto.my-2
        = "Report for #{yield :report_date}"
     .navbar-text.text-white
        = "Generated by Impactive. "
        = link_to 'Learn more', 'http://www.impactivecg.com', class: "text-primary"

   .container.pt-5
     - if !notice.blank?
         p.alert.alert-info
           = notice
     - if !alert.blank?
         p.alert.alert-warning
           = alert

     = yield
